* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #111111;
}

.not-font {
  font-family: inherit !important;
}

.fondo-animado {
  animation-name: fondo-animado;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: 200ms ease-in-out;
}

.left-radius-none .MuiInputBase-root {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(19, 53, 28);
}
.scroll::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgb(9, 176, 54);
}

.rotation {
  animation-name: rotation_loader;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: 200ms ease-in-out;
}

@keyframes fondo-animado {
  0% {
    background-color: #003b1d;
  }

  50% {
    background-color: #390048;
  }

  100% {
    background-color: #00361b;
  }
}

@keyframes rotation_loader {
  0% {
    transform: rotate(0deg);
    color: #82FFC1;
  }

  55% {
    color: #828fff;
  }

  75% {
    color: #D941FF;
  }

  100% {
    transform: rotate(-360deg);
    color: #41b9ff;
  }
}